.content-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lista-container,
.form-container {
    width: 50%;
}

.clicked {
    background-color: slateblue;
    color: aliceblue;
}